<div id="header_1">
  <% if current_user %>
    <p>Welcome, <%= current_user.name %> </p>
  <% end %>
</div>

<div id="header_2">
  <% if current_user %>
    <%= link_to "Go to Dashboard", products_dashboard_path %>
    <%= link_to "Logout", session_path(current_user), :method => :delete %>
  <% end %>
</div>
<br>
<br>


<h3>All Products</h3>

<table>
    <thead>
        <th>Product</th>
        <th>Seller</th>
        <th>Date Posted</th>
        <th>Amount</th>
        <th>Action</th>
    </thead>
    <% @products.each do |product| %>
    <tr>
        <td><%= product.name%></td>
        <td><%= product.user.name%></td>
        <td><%= product.created_at.strftime("%B %d, %Y")%></td>
        <td>$<%= number_with_precision product.amount, :precision => 2 %></td>
        <td><%= link_to "Buy", product_path(product.id), :method => :put  %>
    </tr>
    <% end %>
</table>
<br>
<br>
